<!-- Modal HTML -->
<div id="contact-us-modal" class="ui basic modal">
    <i class="close icon"></i>
    <div class="header">
        Contact us/Leave feedback
    </div>
    <div class="content">
        <h4 class="header">
            Let us know what you have to say
        </h4>
        <form id="contact-us-form" method="POST" action="http://titan.csit.rmit.edu.au/~e54061/wp/testcontact.php" class="ui form">
            <div class="field">
                <p>Subject</p>
                <select name="subject" class="ui dropdown" required>
                    <option value="">Please select subject</option>
                    <option value="General Enquiry">General Enquiry</option>
                    <option value="Group and Corporate Bookings">Group and Corporate Bookings</option>
                    <option value="Suggestions & Complaints">Suggestions & Complaints</option>
                </select>
            </div>
            <div class="field">
                <p>Email</p>
                <input type="email" name="email" placeholder="Your email eg. myname@mymail.com" required>
            </div>
            <div class="field">
                <p>Message</p>
                <textarea name="message" placeholder="Your message to Silverado" required></textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui basic inverted close button">
            Cancel
        </div>
        <button type="submit"
            form="contact-us-form" class="ui inverted green basic icon button">
            <i class="send icon"></i>
           Send
        </button>
    </div>
</div>

<!-- Script -->
<script type="text/javascript">
    
    $(function () {
        // Declare modal var
        var $modal =  $('#contact-us-modal.ui.modal');
        
        // Init dropdown
        //$('.ui.dropdown').dropdown();
        
        // Init modal settngs
        //$modal.modal({  
        //});
        
        // Attach event listener to any buttons tagetting contact us form
        $('.contactClick').click(function () {
           $modal.modal('show');
        });
    });

</script>