<!-- Footer -->
<div id="footer" class="ui one item fluid stackable inverted menu">
    <div class="menu">
        <div class="item">
            &copy; Copyright 2016 | Developed by Luke Warren | <a href="file_logs.php" target="_blank" title="user and error logs">Debug Logs</a> 
        </a>
    </div>
</div>