<script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
<div style='overflow:hidden;height:400px;width:440px; margin:0 auto;'>
    <div id='gmap_canvas' style='height:400px;width:440px;'>

    </div>
    <style>
        #gmap_canvas img {
            max-width: none!important;
            background: none!important
        }
    </style>
</div>
<a href='https://embedmap.org/'>
    add google maps to website
</a>
<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=d95cd39ba87767f24d3a00be84552efc4ee4f17f'></script>
<script type='text/javascript'>
    function init_map() {
        var myOptions = {
            zoom:12,
            center:new google.maps.LatLng(-26.0842776,28.03250330000003),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);
        marker = new google.maps.Marker({
            map: map,position: new google.maps.LatLng(-26.0842776,28.03250330000003)
        });
        
        infowindow = new google.maps.InfoWindow({
            content:'<strong>Silverado</strong><br>342 Duiker close, riverclub<br> Sandton<br>'
        });
        google.maps.event.addListener(marker, 'click', function(){
            infowindow.open(map,marker);
        });
        infowindow.open(map,marker);
    }
        
    google.maps.event.addDomListener(window, 'load', init_map);
</script>