<div id="pricing-modal" class="ui basic modal">
    <div class="header">
        Movie Pricing
    </div>
    <div class="content">
        <table class="ui inverted fluid stackable table">
            <tr>
                <th>
                    Ticket Type
                </th>
                <th>
                    Mon and Tue (All Day)<br/>
                    Mon to Fri (1pm only)
                </th>
                <th>
                    Wed to Fri (not 1pm)<br/>
                    Sat and Sun (All Day)
                </th>
            </tr>
            <tbody>
                <tr>
                    <td>
                        Standard Adult
                    </td>
                    <td>
                        $12
                    </td>
                    <td>
                        $18
                    </td>
                </tr>
                <tr>
                    <td>
                        Concession
                    </td>
                    <td>
                        $10
                    </td>
                    <td>
                        $15
                    </td>
                </tr>
                <tr>
                    <td>
                        Child
                    </td>
                    <td>
                        $8
                    </td>
                    <td>
                        $12
                    </td>
                </tr>
                <tr>
                    <td>
                        First Class Adult
                    </td>
                    <td>
                        $25
                    </td>
                    <td>
                        $30
                    </td>
                </tr>
                <tr>
                    <td>
                        First Class Child
                    </td>
                    <td>
                        $20
                    </td>
                    <td>
                        $25
                    </td>
                </tr>
                <tr>
                    <td>
                        Beanbags (because - why not?)
                    </td>
                    <td>
                        $20
                    </td>
                    <td>
                        $30
                    </td>
                </tr>
            </tbody>
            
        </table>
        <em>*All ticket prices subject to change</em><br/>
        <em>* Beanbag price allows up to 2 adults OR 1 adult + 1 child OR up to 3 children. One price fits all!</em>
    </div>
    <div class="actions">
        <div class="ui basic inverted white icon close button">
            <i class="close icon"></i>
            Got it! 
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $('.showPricing').click(function(){
            $('#pricing-modal').modal('show');
        });
    });
</script>