<div class="ui inverted segment">
<h2 id="tickets" class="centred header">
    Awesome new ticket pricing!
</h2>

<p>
    We have a whole bunch of new pricing options - now there is no excuse not to visit silverado!
</p>

<div class="prices">
    <h3 class="centred header">    
        Off-peak prices - Monday and Tuesday (All Day) OR Monday to Friday (1pm only)
    </h3>
    
    <div class="ui fluid centred inverted statistics">
        
        <div class="statistic">
            <div class="value">
                $ 12
            </div>
            <div class="label">
                Standard Adult
            </div>
        </div>
        
        <div class="statistic">
            <div class="value">
                $ 10
            </div>
            <div class="label">
                Concession
            </div>
        </div>
        
        <div class="statistic">
            <div class="value">
                $ 8
            </div>
            <div class="label">
                Child
            </div>
        </div>
        
        <div class="statistic">
            <div class="value">
                $ 25
            </div>
            <div class="label">
                First Class Adult
            </div>
        </div>
        
        <div class="statistic">
            <div class="value">
                $ 20
            </div>
            <div class="label">
                First Class Child
            </div>
        </div>
        
        <div class="statistic">
            <div class="value">
                $ 20
            </div>
            <div class="label">
                Beanbags
            </div>
        </div>
    </div>
</div>

<div class="prices">
    <h3 class="centred header">    
        Peak prices - Wednesday to Friday (Not 1pm) OR Saturday and Sunday (All Day)
    </h3>
    
    <div class="ui fluid centred inverted statistics">
        
        <div class="statistic">
            <div class="value">
                $ 18
            </div>
            <div class="label">
                Standard Adult
            </div>
        </div>
        
        <div class="statistic">
            <div class="value">
                $ 15
            </div>
            <div class="label">
                Concession
            </div>
        </div>
        
        <div class="statistic">
            <div class="value">
                $ 12
            </div>
            <div class="label">
                Child
            </div>
        </div>
        
        <div class="statistic">
            <div class="value">
                $ 30
            </div>
            <div class="label">
                First Class Adult
            </div>
        </div>
        
        <div class="statistic">
            <div class="value">
                $ 25
            </div>
            <div class="label">
                First Class Child
            </div>
        </div>
        
        <div class="statistic">
            <div class="value">
                $ 30
            </div>
            <div class="label">
                Beanbags
            </div>
        </div>
    </div>
    
    <br/>
    <br/>
    
    <p>
        <a class="ui basic inverted white icon button showPricing">
            <i class="help icon"></i>
            Find this confusing?
        </a>
    </p>
</div>