<h2 class="header">Weekly Schedule</h2>
                        
<p>
    Here at Silverado, we know that the only thing people love more than affordable movie tickets - is planning.
</p>
<p>
    So here, plan away! We look forward to seeing you.
</p>

<div id="times-menu" class="ui fluid three inverted item menu">
    <a class="item active" data-day="MON-TUES">
        Monday and Tueday
    </a>
    <a class="item" data-day="WED-FRI">
        Wednesday to Friday
    </a>
    <a class="item" data-day="SAT-SUN">
        Saturday and Sunday
    </a>
</div>

<div class="ui inverted segment" id="times">
    <div class="ui three fluid centred inverted statistics">
        
        <div class="statistic">
            <div id="slot-1" class="value">
                1 pm
            </div>
            <div id="slot-1-lbl" class="label">
                Childrens
            </div>
        </div>
        
        <div class="statistic">
            <div id="slot-2" class="value">
                6 pm
            </div>
            <div id="slot-2-lbl" class="label">
                Art/Foreign
            </div>
        </div>
        
        <div class="statistic">
            <div id="slot-3" class="value">
                9 pm
            </div>
            <div id="slot-3-lbl" class="label">
                Romantic Comedy
            </div>
        </div>
        
        <div class="statistic">
            <div id="slot-4" class="value">
                
            </div>
            <div id="slot-4-lbl" class="label">
                
            </div>
        </div>
        
    </div>
    <div class="ui buttons">
        <a href="movies.php">
            See now showing
        </a>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        
        $('#times-menu .item').click(function(){
            // Get sender text
            var $sender = $(event.target);
            var text = $sender.attr('data-day').toUpperCase();
            
            // Unselect old node
            $('#times-menu .active').removeClass('active');
            // Select current node
            $sender.addClass('active');
            
            // Set times based on day clicked
            switch(text)
            {
                case "MON-TUES":
                    setTimes('1pm', '6pm', '9pm', '');
                    setGenres('Children', 'Art/Foreign', 'Romantic Comedy', '');
                    break;
                case "WED-FRI":
                    setTimes('1pm', '6pm', '9pm', '');
                    setGenres('Romantic Comedy', 'Children', 'Action', '');
                    break;
                case "SAT-SUN":
                    setTimes('12pm', '3pm', '6pm', '9pm');
                    setGenres('Childrens', 'Art/Foreign', 'Romantic Comedy', 'Action');
                    break;
                default:
                    console.log('ERROR: User clicked a time menu link that does not have time values. Item clicked: '+ text)
                    break;
            }
        });
        
        function setTimes(slot1Val, slot2Val, slot3Val, slot4Val){
            var $timeDiv = $('times');
            
            // Transition out
            $timeDiv.transition('drop');
            
             // Get slots
            $('#slot-1').text(slot1Val);
            $('#slot-2').text(slot2Val);
            $('#slot-3').text(slot3Val);
            $('#slot-4').text(slot4Val);
            
            // Transition in
            $timeDiv.transition('drop');
        };
        
        function setGenres(slot1Val, slot2Val, slot3Val, slot4Val){
            var $timeDiv = $('times');
            
            // Get slots
            $('#slot-1-lbl').text(slot1Val);
            $('#slot-2-lbl').text(slot2Val);
            $('#slot-3-lbl').text(slot3Val);
            $('#slot-4-lbl').text(slot4Val);
            
            // Transition in
            $timeDiv.transition('drop');
        };
        
    });

</script>