body {
    /* Fixed width */
    max-width: 1024px;/**/
    margin: 0 auto !important;/**/
    
    /* Full width */
    /*background-color: #34288B;*/
    background-image:url("../Images/Batman-V-Superman-Movie-2016-1920x1080.jpg");
    background-size: 100%;
}

.ui.top.attached.inverted.header{
    background-color:black;
}