
/*--------------------------- Slider styles--------------------------------- */
/* Hide next/prev arrows */
.unslider-arrow{
    display: none;
}

.banner ul li img{
    width: 100%;
}

#gallery-container {
    padding-bottom: 15px;
}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    
    /* Hide banner when mobile */
    #header-banner {
        display: none;
    }
}