/*------------------- Card styles -------------------------------*/
.card{
    background-color: black !important;
}

.card .content a,.card .content p, .card .content div, .card .content div span, .card .content .meta span {
    color: white!important;
}

